body {
    font-family: Arial, sans-serif;
    background-color: #c2f3c2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-weight: bold;
    font-size: larger;
}

a:hover {
    color: white;
}

